
body {
    background-color: rgb(250, 214, 255);
    margin: 20px;
    text-align: justify;
    font-family:'Satisfy', cursive;
    border-style: dotted; color: rgba(168, 1, 173, 0.541);
}
header {
    text-align: center;
    margin: 20px;
    padding: 20px;
    position: sticky;
    top:0;

}

/* header img{
    width: 100px;
}
nav img{
    width: 30px;
}
/* comentario igual JS. quando coloco um ponto, estou  a colocar uma classe, ex: */ 

.logo{                          /*prestar atençao na classe no HTML*/
    width: 20%;
    max-width: 500px;
    min-width: 100px;
}
nav {
    background-color: rgb(211, 24, 211);
    padding: 5px;
    margin: 10px;
}
a{
    color: white;
    text-decoration: none;
    text-shadow: 10px 10px rgb(88, 3, 173);
}
i{  
    font-size: 50px;
}
span{
    background-color: rgb(145, 26, 137); color: white;
}

h1 {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 7s; /* don't forget to set a duration! */
  }
main{
    text-align: justify; 
    background-color:rgb(250, 211, 247);    
}
footer{
    background-color: rgb(255, 0, 234);
    padding: 5px;
    margin: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
}